*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(180px, 1fr) 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

.sidebar {
  background-color: skyblue;
  padding: 1.3rem 1.3rem 0 1.3rem;
  display: grid;
  align-content: start;
  gap: 2rem;
  grid-row: 1 / 3;
}

.sidebar ul {
  display: grid;
  gap: 10px;
}

.header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 1.3rem;
}

.header .search-div {
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: 2fr 1fr;
}

.search-div input {
  background-color: lightgray;
  height: 1.5rem;
  border-radius: 11px;
  outline: none;
  border: none;
}

.btns-div {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 20px;
}

.btns-div button {
  background-color: skyblue;
  color: #fff;
  height: 2rem;
  width: 5rem;
  border-radius: 20px;
  border: none;
}

.main-content {
  background-color: lightgray;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1.3rem;
  gap: 20px;
}

.projects {
  display: grid;
  align-content: start;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row: 1 / 3;
  gap: 20px;
}

.projects .section-title {
  grid-column: 1 / -1;
  margin-bottom: -10px;
}

.section-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.card {
  background-color: white;
  padding: 1.3rem;
  border-radius: 10px;
}

.announcements {
  grid-area: 1 / 2 / 2 / 3;
}

.announcements,
.trending {
  display: grid;
  align-content: start;
  gap: 10px;
}

.trending {
  grid-area: 2 / 2 / 3 / 3;
}
